/*
To the extent possible under law, the author(s) have dedicated all copyright
and related and neighboring rights to this software to the public domain
worldwide. This software is distributed without any warranty. You should have
received a copy of the CC0 Public Domain Dedication along with this software.
If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
*/

// -------------------- CONSTANTS -------------------- //
@defaultFontSize: 13px;
@containerHeight: 384px;
@containerWidth: 512px;
@mainWidth: 300px;
@gameWidth: 300px;
@gameHeight: 300px;
@headerSize: 45px;
@navigationWidth: 200px;
@navigationHeight: @containerHeight;
@newGamePromoWidth: 200px;
@newGamePromoHeight: 200px;
@gameDescriptionLeftMargin: 12px;
@menuButtonHeight: 45px;
@largerFontSize: 16px;
@menuIconRightMargin: 10px;
@promoButtonContainerTopMargin: 50px;
@menuButtonTextLeftMargin: 5px;

// -------------------- COMMON STYLE -------------------- //

@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.defaultFont (@multiplier) {
  font-size: @defaultFontSize * @multiplier;
  font-family: 'Helvetica Neue', Helvetica, 'lucida grande', arial, sans-serif;
  line-height: 1.1;
}

body {
  position: relative;
  width: 100%;
  .defaultFont(1);
  padding: 0; // bootstrap-responsive very annoyingly adds padding to body
}

.centeredBlock (@width, @height) {
  height: @height;
  width: @width;
  margin-top: -(@height/2);
  margin-left: -(@width/2);
  top: 50%;
  left: 50%;
}

.nContainer {
  width: 100%;
}

.nTopHeader {
  height: 45px;
}

.nWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.nNavigation {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #000;
  background-color: #f5f5f5;
  width: @navigationWidth;
  height: @navigationHeight;
}

.nTopHeader {
  z-index: 100;
  position: relative;
  color: #000;
  background: #f5f5f5;
}

.nMain {
  background: #fff;
}

.nMenuToggleButton {
  font-size: 26px;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 10px;
}

.nGame {
  top: 50%;
  left: 50%;
  position: relative;
  border: solid 1px #aaa;
}

.nLogo {
  float: left;
  background-image: url("/images/logo150.png");
  width: 146px;
  height: 37px;
}

.nNewGamePromo {
  .centeredBlock(@newGamePromoWidth, @newGamePromoHeight);
  position: relative;
}

.nGameDescription {
  // I always find that left-aligned text blocks need to be nudged to the right
  // a bit to make them not look off-center.
  margin-left: @gameDescriptionLeftMargin;
}

.nPromoButtonContainer {
  margin-top: @promoButtonContainerTopMargin;
  text-align: center;
}

.nMenuButton {
  width: @navigationWidth;
  height: @menuButtonHeight;
  background-image: none;
  border-radius: 0;
  border-color: #aaaaaa;
  .defaultFont(1);
}

.nMenuButtonText {
  margin-left: @menuButtonTextLeftMargin;
}

// -------------------- DESKTOP-ONLY STYLE -------------------- //

@media screen and (min-width: 601px) {
  .nNavigation {
    float: left;
  }

  .nTopHeader {
    display: none;
  }

  .nContainer {
    .centeredBlock(@containerWidth, @containerHeight);
    position: fixed;
  }

  .nGame {
    .centeredBlock(@gameWidth, @gameHeight);
  }

  .nMain {
    width: @mainWidth;
    height: @containerHeight;
    float: right;
  }
}

// -------------------- MOBILE-ONLY STYLE -------------------- //

@media screen and (max-width: 600px) {
  html, body, .nWrapper, .nContainer, .nMain {
    height: 100%;
  }

  .nNavigation {
    position: absolute;
    top: 0;
    padding-top: 5.25em;
    height: 100%;
    width: 70%;
    background: #f5f5f5;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    left: -70%;
  }

  .nContainer {
    left: 70%;
  }

  .nGame {
    width: @gameWidth;
    height: @gameHeight;
    margin-left: -(@gameWidth / 2);
    margin-top: -(@gameHeight / 2 + @headerSize / 2);
  }

  .csstransforms3d.csstransitions .nNavigation {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions .nContainer {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.nNavOpen .nContainer {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }
}

// -------------------- BIG-SCREEN DESKTOP STYLE -------------------- //

@media screen and (min-width: 1200px) and (min-height: 800px) {
  body {
    .defaultFont(2);
  }

  .nGame {
    .centeredBlock(@gameWidth * 2, @gameHeight * 2);
  }

  .nNavigation {
    width: @navigationWidth * 2;
    height: @navigationHeight * 2;
  }

  .nContainer {
    .centeredBlock(@containerWidth * 2, @containerHeight * 2);
  }

  .nMain {
    width: @mainWidth * 2;
    height: @containerHeight * 2;
  }

  .nNewGamePromo {
    .centeredBlock(@newGamePromoWidth * 2, @newGamePromoHeight * 2);
  }

  .nGameDescription {
    margin-left: @gameDescriptionLeftMargin * 2;
  }

  .nPromoButtonContainer {
    margin-top: @promoButtonContainerTopMargin * 2;
  }

  .nMenuButton {
    width: @navigationWidth * 2;
    height: @menuButtonHeight * 2;
    .defaultFont(2);
  }

  .nMenuButtonText {
    margin-left: @menuButtonTextLeftMargin * 2;
  }

  .nLogo {
    float: left;
    background-image: url("/images/logo300.png");
    width: 300px;
    height: 76px;
  }
}