/*
To the extent possible under law, the author(s) have dedicated all copyright
and related and neighboring rights to this software to the public domain
worldwide. This software is distributed without any warranty. You should have
received a copy of the CC0 Public Domain Dedication along with this software.
If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
*/

@import "lib/elements.less";

// -------------------- CONSTANTS -------------------- //
@DESKTOP: 1;
@MOBILE: 0.5;
@MOBILE_LANDSCAPE: 0.4;

@defaultFontSize: 26px;
@containerHeight: 768px;
@containerWidth: 1064px;
@mainWidth: 640px;
@mainHeight: 740px;
@gameWidth: 600px;
@gameHeight: @gameWidth;
@navigationWidth: 400px;
@navigationHeight: @containerHeight;
@newGamePromoWidth: 400px;
@newGamePromoHeight: 400px;
@gameDescriptionLeftMargin: 24px;
@menuButtonHeight: 90px;
@largerFontSize: 32px;
@menuIconRightMargin: 20px;
@promoButtonContainerTopMargin: 100px;
@menuButtonTextLeftMargin: 10px;

@mobileHeaderSize: 45px;
@mobileGameWidth: 300px;
@mobileGameHeight: @mobileGameWidth;
@mobileLandscapeGameWidth: 250px;
@mobileLandscapeGameHeight: @mobileLandscapeGameWidth;


// -------------------- COMMON STYLE -------------------- //

@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.defaultFont (@multiplier) {
  font-size: @defaultFontSize * @multiplier;
  font-family: 'Helvetica Neue', Helvetica, 'lucida grande', arial, sans-serif;
  line-height: 1.1;
}

body {
  position: relative;
  width: 100%;
  .defaultFont(1);
}

.centeredBlock (@width, @height) {
  height: @height;
  width: @width;
  margin-top: -(@height/2);
  margin-left: -(@width/2);
  top: 50%;
  left: 50%;
}

.nContainer {
  width: 100%;
}

.nWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.nNavigation {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #000;
  background-color: #f5f5f5;
}

.nTopHeader {
  display: none;
}

.nMain {
  background: #fff;
}

.nMenuToggleButton {
  font-size: 26px;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 10px;
}

.nGame {
  top: 50%;
  left: 50%;
  position: relative;
  border: solid 1px #aaa;
}

.nLogo {
  float: left;
  background-image: url("/images/logo300.png");
  width: 300px;
  height: 76px;
  margin: -5px 0 0 12px;
}

.nNewGamePromo (@scale) {
  position: relative;
  .centeredBlock(@newGamePromoWidth * @scale , @newGamePromoHeight * @scale);
}

.nPromoButtonContainer (@scale) {
  text-align: center;
  margin-top: @promoButtonContainerTopMargin * @scale;
}

.nMenuButton (@scale) {
  background-image: none;
  border-radius: 0;
  border-color: #aaaaaa;
  .defaultFont(@scale);
  width: @navigationWidth * @scale;
  height: @menuButtonHeight * @scale;
}

.nMenuButtonText (@scale) {
  margin-left: @menuButtonTextLeftMargin * @scale;
}

.nGameDescription (@scale) {
  // I always find that left-aligned text blocks need to be nudged to the right
  // a bit to make them not look off-center.
  margin-left: @gameDescriptionLeftMargin * @scale;
}


// -------------------- DESKTOP-ONLY STYLE -------------------- //

@media screen and (min-width: 600px) and (min-height: 400px) {
  .nNavigation {
    float: left;
    width: @navigationWidth;
    height: @navigationHeight;
  }

  .nContainer {
    .centeredBlock(@containerWidth, @containerHeight);
    position: fixed;
  }

  .nGame {
    .centeredBlock(@gameWidth, @gameHeight);
  }

  .nMain {
    width: @mainWidth;
    height: @mainHeight;
    float: right;
  }

  .nNewGamePromo {
    .nNewGamePromo(@DESKTOP);
  }

  .nPromoButtonContainer {
    .nPromoButtonContainer(@DESKTOP);
  }

  .nGameDescription {
    .nGameDescription(@DESKTOP);
  }

  .nMenuButtonText {
    .nMenuButtonText(@DESKTOP);
  }

  .nMenuButton {
    .nMenuButton(@DESKTOP);
  }

}

// -------------------- MOBILE-ONLY STYLE -------------------- //

@media screen and (max-width: 599px),
       screen and (max-height: 399px) {
  html, body, .nWrapper, .nContainer, .nMain {
    height: 100%;
    width: 100%;
  }

  body {
    .defaultFont(0.5);
  }

  .nNavigation {
    position: fixed;
    top: 0;
    padding-top: 5.25em;
    height: 100%;
    width: 70%;
    background: #f5f5f5;
    .box-shadow(inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25));
    left: -70%;
  }

  .nContainer {
    left: 70%;
  }

  .nMain {
    position: fixed;
    top: 0;
    left: 0;
  }

  .nGame {
    width: @mobileGameWidth;
    height: @mobileGameHeight;
    margin-left: -(@mobileGameWidth / 2);
    margin-top: -(@mobileGameHeight / 2 - @mobileHeaderSize / 2);
  }

  .nTopHeader {
    display: block;
    height: 45px;
    z-index: 100;
    color: #000;
    background: #f5f5f5;
    position: relative;
  }

  .nLogo {
    display: none;
  }

  .nNewGamePromo {
    .nNewGamePromo(@MOBILE);
  }

  .nPromoButtonContainer {
    .nPromoButtonContainer(@MOBILE);
  }

  .nMenuButton {
    .nMenuButton(@MOBILE);
  }

  .nMenuButtonText {
    .nMenuButtonText(@MOBILE);
  }

  .nGameDescription {
    .nGameDescription(@MOBILE);
  }

  .csstransforms3d.csstransitions .nNavigation {
    left: 0;
    .transform(translate3d(-100%, 0, 0));
  }
  .csstransforms3d.csstransitions .nContainer {
    left: 0 !important;
    .transform(translate3d(0, 0, 0));
    .transition(500ms, ease);
  }

  .csstransforms3d.csstransitions.nNavOpen .nContainer {
    .transform(translate3d(70%, 0, 0), scale3d(1, 1, 1));
  }
}

// -------------------- MOBILE LANDSCAPE STYLE -------------------- //
@media screen and (max-height: 355px) and (min-width: 480px) {
  .nTopHeader {
    height: 100%;
    width: @mobileHeaderSize;
  }

  .nGame {
    width: @mobileLandscapeGameWidth;
    height: @mobileLandscapeGameHeight;
    margin-left: -(@mobileLandscapeGameWidth / 2 - @mobileHeaderSize /2);
    margin-top: -(@mobileLandscapeGameHeight / 2);
  }

  .nMenuToggleButton {
    font-size: 16px;
    top: 5px;
    left: 5px;
  }

  .nNewGamePromo {
    .nNewGamePromo(@MOBILE_LANDSCAPE);
  }

  .nPromoButtonContainer {
    .nPromoButtonContainer(@MOBILE_LANDSCAPE);
  }

  .nMenuButton {
    .nMenuButton(@MOBILE_LANDSCAPE);
  }

  .nMenuButtonText {
    .nMenuButtonText(@MOBILE_LANDSCAPE);
  }

  .nGameDescription {
    .nGameDescription(@MOBILE_LANDSCAPE);
  }
}
