/*
To the extent possible under law, the author(s) have dedicated all copyright
and related and neighboring rights to this software to the public domain
worldwide. This software is distributed without any warranty. You should have
received a copy of the CC0 Public Domain Dedication along with this software.
If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
*/

#noughtsAppContainer {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.appTitle {
  text-align: center;
}

.noughtsNewGame {
  position: relative;
  top: 320px;
  left: 130px;
  visibility: hidden;
}

.notice {
  font-size: x-large;
  font-weight: bold;
}