/*
To the extent possible under law, the author(s) have dedicated all copyright
and related and neighboring rights to this software to the public domain
worldwide. This software is distributed without any warranty. You should have
received a copy of the CC0 Public Domain Dedication along with this software.
If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
*/

// Constants

@containerWidth: 68.75rem;
@containerHeight: 45.75rem;
@mainWidth: 40rem;
@mainHeight: @containerHeight;
@navigationWidth: 25rem;
@navigationHeight: @containerHeight;
@defaultFontSize: 1.625rem;
@smallFontSize: 1.3rem;
@largeFontSize: 2rem;
@newGamePromoWidth: 25rem;
@newGamePromoHeight: 25rem;
@gameDescriptionLeftMargin: 1.5rem;
@menuButtonHeight: 5.625rem;
@promoButtonContainerTopMargin: 6.25rem;
@menuButtonTextLeftMargin: 0.625rem;
@mobileHeaderWidth: 4.75rem;
@mobileHeaderHeight: 3.25rem;


////////// DEBUG //////////

html {
  opacity: 0.1 !important;
}

////////// END DEBUG //////////

// Mixins

.centeredBlock (@width, @height) {
  height: @height;
  width: @width;
  margin-top: -(@height/2);
  margin-left: -(@width/2);
  top: 50%;
  left: 50%;
}

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

.transition(@prop, @duration:0.2s, @ease:ease-out) {
  -webkit-transition: @prop @duration @ease;
  -moz-transition: @prop @duration @ease;
  -o-transition: @prop @duration @ease;
  transition: @prop @duration @ease;
}

.transition-transform(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: -webkit-tranform @duration @ease;
  -moz-transition: -moz-transform @duration @ease;
  -o-transition: -o-transform @duration @ease;
  transition: transform @duration @ease;
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

// Common Styles

@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.nDefaultFont () {
  font-size: @defaultFontSize;
  font-family: 'Helvetica Neue', Helvetica, 'lucida grande', arial, sans-serif;
  line-height: 1.1;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: white;
}

.btn {
  .nDefaultFont();
}

.modal-body {
  .nDefaultFont();
}

.nWrapper {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  .nDefaultFont();
}

.nNavigation {
  background-color: #f5f5f5;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 200;
}

.nHeader {
  display: none;
}

.nDesktopHeader {
  position: absolute;
  right: 1.1rem;
}

.nMain {
  background: #fff;
}

.nGameCanvas {
  .centeredBlock(37.5rem, 37.5rem);
  border: 1px solid #aaa;
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
}

.nCloseLink, .nCloseLink:hover {
  text-decoration: none;
  color: #000;
  font-size: @smallFontSize;
  float: right;
}

.nMenuToggleButton {
  cursor: pointer;
  font-size: 2.5rem;
  left: 0.65rem;
  position: absolute;
  top: 0.2rem;
}

.nGame {
  .centeredBlock(37.5rem, 37.5rem);
  border: solid 1px #aaa;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
}

.nLogo {
  display: block;
  margin: 0.625rem auto 0 auto;
  width: 18.75rem;
  height: 4.6875rem;
  cursor: pointer;
}

.nNotification {
  position: absolute;
  text-align: center;
  bottom: 0.5rem;
}

.nNewGamePromo {
  .centeredBlock(@newGamePromoWidth, @newGamePromoHeight);
  position: absolute;
  display: none;
}

.nLoading {
  .centeredBlock(@newGamePromoWidth, @newGamePromoHeight);
  position: absolute;
  text-align: center;
}

.nPromoButtonContainer {
  text-align: center;
  margin-top: @promoButtonContainerTopMargin;
}

.nMenuButton {
  background-image: none;
  width: @navigationWidth;
  height: @menuButtonHeight;
  margin-top: -1px; // Overlap borders when multiple buttons are stacked
  text-align: left;
  padding-left: 5rem;
}

.nToast {
  z-index: 999999;
  position: absolute;
  text-align: center;
  width: 100%;
  top: -5rem;
  transition: top 0.3s;
}

.nGameMessage {
  position: absolute;
  width: 35rem;
  left: 1.25rem;
  margin: 0;
}

.nToast .nCloseToast, .nToast .nCloseToast:hover {
  color: #333;
  text-decoration: none;
}

.nSmallInviteButton {
  background-image: none;
}

.nMenuButtonIcon {
  position: absolute;
  left: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.nMenuButtonText {
  margin-left: @menuButtonTextLeftMargin;
}

.nGameDescription {
  // I always find that left-aligned text blocks need to be nudged to the right
  // a bit to make them not look off-center.
  margin-left: @gameDescriptionLeftMargin;
}

.nNewGameButton {
  text-align: center;
  padding-left: 0;
}

.nNavNewGameButton {
  border: 0;
  box-shadow: none;
  margin-bottom: 1rem;
}

.nNewGameMenu {
  display: none;
  .centeredBlock(@navigationWidth, @menuButtonHeight * 6);
  position: absolute;
  margin-top: -18.5rem; // Perfect vertical centering looks strange here.
}

.nFacebookInviteMenu {
  display: none;
  position: absolute;
  .centeredBlock(33.4rem, 35rem);
}

.nNewGameMenuHeader {
  height: @menuButtonHeight;
  width: @navigationWidth;
  line-height: @menuButtonHeight;
  font-size: @largeFontSize;
  font-weight: bold;
}

.nMoveControlsContainer {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
  display: none;
}

.nHeader .nMoveControlsContainer {
  float: right;
  margin-right: 0.5rem;
}

.nSubmitIcon {
  margin-right: 0.5rem;
}

.nMoveControlButton {
  font-size: @smallFontSize;
}

.nFacebookFriendSelect {
  width: 33rem;
}

.select2-results {
  max-height: 25rem;
}

.select2-search-choice {
  // Man, why would you hardcode a value for this select2.js
  line-height: inherit !important;
}

.nFacebookInviteMenuControls {
  width: 22rem;
  margin: 1rem auto 0 auto;
}

.nFacebookFriendName {
  margin-left: 0.5rem;
}

.nNavItem {
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  border-style: solid;
  border-width: 0 0.3125rem 0 0.3125rem;
  border-color: #f5f5f5;
  transition: background 0.3s;
  height: 3.125rem;
}

.nNavNewGameDescription {
  line-height: 3.125rem;
}

.nNavItem a {
  transition: color 0.3s;
}

.nNavBody:hover .nCurrentGame {
  background: #f5f5f5;
}

.nNavBody:hover .nCurrentGame:hover {
  background: #ffffff;
}

.nGameListDescription:hover a {
  color: #005580;
  text-decoration: underline;
}

.nNavItem:hover {
  background: #ffffff;
}

.nCurrentGame {
  background: #ffffff;
}

.nGameListProfilePicture {
  vertical-align: top;
  width: 3.125rem;
  height: 3.125rem;
}

.nGameListIcon {
  display: inline-block;
  width: 3.125rem;
  text-align: center;
  vertical-align: top;
}

.nResignGameButton {
  position: absolute;
  right: 0;
  height: 3.125rem;
  width: 2rem;
  padding-left: 6px;
  color: #ccc;
}

nav .nResignGameButton {
  opacity: 0;
}

.nCurrentGame .nResignGameButton {
  opacity: 1;
}

.nNavBody:hover .nResignGameButton {
  opacity: 0;
}

.nNavItem:hover .nResignGameButton {
  opacity: 1;
}

.nGameListDescription {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: @smallFontSize;
}

.nGameStateSummary {
  color: #666;
  font-style: italic
}

.nGameListNewGameIcon {
  vertical-align: baseline;
}

.nNavigationSectionHeader {
  padding: 0 1rem 0 1rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ccc;
}

span.nResignTooltip {
  background: #ccc;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.01) 1px 1px 2px 0px;
  display: none;
  font-size: @smallFontSize;
  height: 2rem;
  line-height: 2rem;
  margin-top: 2.5rem;
  padding: 0px;
  position: absolute;
  right: 0.3125rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.01) 1px 1px 1px;
  width: 10rem;
}

span.nResignTooltip:after {
  border-color: transparent transparent #CCC transparent;
  border-style: solid;
  border-width: 0.6rem;
  content: "";
  height: 0;
  left: 8.4rem;
  position: absolute;
  top: -1rem;
  width: 0;
}

.nResignGameButton:hover + .nResignTooltip {
  display: inline;
}

// Mobile-only styles

.nMobile {
  .nContainer, .nMain {
    height: 100%;
    width: 100%;
  }

  .nNavigation {
    position: absolute;
    top: 0;
    padding-top: 5.25em;
    height: 100%;
    width: 70%;
    background: #f5f5f5;
    .box-shadow(inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25));
    left: -70%;
  }

  .nContainer {
    left: 70%;
  }

  .nMain {
    position: absolute;
    top: 0;
    left: 0;
  }

  .nDesktopHeader {
    display: none;
  }

  .nHeader {
    display: block;
    height: @mobileHeaderHeight;
    z-index: 100;
    color: #000;
    background: #f5f5f5;
    position: absolute;
  }

  .nLogo {
    display: none;
  }

  .nNavigation {
    left: 0;
    .transform(translate3d(-100%, 0, 0));
  }

  .nContainer {
    left: 0 !important;
    .transform(translate3d(0, 0, 0));
    .transition(-webkit-transform, 500ms, ease);
  }

  .nNavOpen .nContainer {
    .transform(translate3d(70%, 0, 0), scale3d(1, 1, 1));
  }

}

.nPortraitMode {
  .nGame {
    margin-top: -17.25rem; // Compensate for top header
  }

  .nMain canvas {
    margin-top: -17.25rem; // Compensate for top header
  }

  .nNotification {
    width: 100%;
    margin-bottom: 0.4rem;
    bottom: 0;
  }
}

.nLandscapeMode {
  .nHeader {
    height: 100%;
    width: @mobileHeaderWidth;
  }

  .nMenuToggleButton {
    font-size: 4rem;
    top: 0.5rem;
    left: 0.8rem;
  }

  .nNotification {
    right: 0;
  }

  .nGame {
    margin-left: -17.25rem; // Compensate for left header
  }

  .nMain canvas {
    margin-left: -17.25rem; // Compensate for left header
  }

  .nNotification {
    height: 100%;
    width: 10rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
}


.nDesktopMode {
  .nContainer {
    .centeredBlock(@containerWidth, @containerHeight);
    position: absolute;
  }

  .nMain {
    width: @mainWidth;
    height: @mainHeight;
    position: absolute;
    top: 0;
    right: 0;
   }

  .nNavigation {
    width: @navigationWidth;
    height: @navigationHeight;
  }
  .nNotification {
    width: 100%;
  }
}

.nBubble
{
  position: absolute;
  width: 30rem;
  padding: 10px;
  text-align: center;
  background: #f5f5f5;
  border: #aaa solid 1px;
  top: 20px;
  left: 10%;
  z-index: 99999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
}

.nBubble:after
{
  content: "";
  position: absolute;
  top: -20px;
  left: 19px;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #f5f5f5 transparent;
  display: block;
  width: 0;
  z-index: 1;
}

.nBubble:before
{
  content: "";
  position: absolute;
  top: -21px;
  left: 19px;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: #aaa transparent;
  display: block;
  width: 0;
  z-index: 0;
}

.nDarkenScreen {
  z-index: 500;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.75;
  display: none;
}